<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../estilos/estilos.css">
</head>
<body>
    <header class="header-inicio-presupuesto">
        <div class="fondo-imagen-presupuesto-contacto">
            <nav class="nav-principal">
                <div class="logo-completo-header">
                    <a href="./../index.html"><img src="./../assets/imagenes/logo_completo_blanco.png" alt="logo completo" class="logo"></a>
                </div>
                <div class="lista-navegador">
                    <ul>
                        <li><a href="./../index.html">INICIO</a></li>
                        <li><a href="./../views/productos.html">GALERIA</a></li>
                        <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                        <li><a href="./contacto.html" class="nav-contacto">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/deperrosadiestramiento" target="_blank"><img src="./../assets/imagenes/icons8-facebook-nuevo-50.png" alt="logo de facebook" class="logos"></a>
                    <a href="https://www.instagram.com/elsa_apolo/" target="_blank"><img src="./../assets/imagenes/icons8-instagram-50.png" alt="logo de instagram" class="logos"></a>
                    <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="./../assets/imagenes/icons8-correo-50.png" alt="logo de correo" class="logos"></a>
                </div>
            </nav>
            <div class="contenedor-titulo-header">
                <h1 class="titulo-principal">Contacta con nosotros</h1>
            </div>    
        </div>  
    </header>
    <main>
        <section class="section2-presupuesto">
            <h3 class="titulo-encabezado-h3-productos"> Quiero ayudarte a construir una relación con tu perro de entendimiento, confianza y seguridad.</h3>
            <p class="titulo-fondo-azul-productos">MEJORA TU RELACIÓN CON TU PERRO</p>
            <img src="./../assets/imagenes/deperros-01-min-1.png" alt="logo de perro" class="logo-perro-grande">
        </section>
        <section class="contacta-con-nosotros">
            <div class="contacto">
                <h2 class="titulo-contacto">¡Contacta con nosotros!</h2>
                <p class="parrafo-contacto">Contacta con nosotros si quieres mejorar la relación con tu perro y/o ayudarle a resolver sus problemas. <br> Pide información sobre nuestros cursos individuales y grupales y nuestra formación online y presencial.</p>
                <a href="https://www.facebook.com/deperrosadiestramiento" target="_blank"><img src="./../assets/imagenes/icons8-facebook-nuevo-50.png" alt="logo de facebook" class="logos"></a>
                <a href="https://www.instagram.com/elsa_apolo/" target="_blank"><img src="./../assets/imagenes/icons8-instagram-50.png" alt="logo de instagram" class="logos"></a>
                <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="./../assets/imagenes/icons8-correo-50.png" alt="logo de correo" class="logos"></a>
                <p class="parrafo-direccion">Direccion: La garriga - Barcelona  Teléfono: 999222888 </p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d190710.99968400464!2d2.2833401!3d41.6803805!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x12a4c5bd9738dbe1%3A0xe1a5c8e5ca4ae083!2sLa%20Garriga%2008530%20Barcelona!3m2!1d41.6803805!2d2.2833400999999998!5e0!3m2!1ses!2ses!4v1713471347501!5m2!1ses!2ses" width="1440" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </section>
    </main>
    <footer class="footer-contacto">
        <img src="./../assets/imagenes/logo_completo_blanco.png" alt="logo completo" class="logo-footer-medidas">
        <div class="redes-footer">
            <a href="https://www.facebook.com/deperrosadiestramiento" target="_blank"><img src="./../assets/imagenes/icons8-facebook-nuevo-50.png" alt="logo de facebook" class="logos-footer"></a>
            <a href="https://www.instagram.com/elsa_apolo/" target="_blank"><img src="./../assets/imagenes/icons8-instagram-50.png" alt="logo de instagram" class="logos-footer"></a>
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="./../assets/imagenes/icons8-correo-50.png" alt="logo de correo" class="logos-footer"></a>
        </div>
        <p class="copy-footer">&copy; 2024 Tu Nombre. Todos los derechos reservados.</p>
        <p class="parrafo-direccion-footer">Direccion: La garriga - Barcelona  Teléfono: 999222888 </p>
    </footer>
</body>
</html>