<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="./../estilos/estilos.css">
</head>
<body>
    <header class="header-inicio">
        <div class="fondo-imagen-productos">
            <nav class="nav-principal">
                <div class="logo-completo-header">
                    <a href="./../index.html"><img src="./../assets/imagenes/logo_completo_blanco.png" alt="logo completo" class="logo"></a>
                </div>
                <div class="lista-navegador">
                    <ul>
                        <li><a href="./../index.html">INICIO</a></li>
                        <li><a href="./productos.html" class="nav-galeria">GALERIA</a></li>
                        <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
                        <li><a href="./contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="redes-sociales">
                    <a href="https://www.facebook.com/deperrosadiestramiento" target="_blank"><img src="./../assets/imagenes/icons8-facebook-nuevo-50.png" alt="logo de facebook" class="logos"></a>
                    <a href="https://www.instagram.com/elsa_apolo/" target="_blank"><img src="./../assets/imagenes/icons8-instagram-50.png" alt="logo de instagram" class="logos"></a>
                    <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="./../assets/imagenes/icons8-correo-50.png" alt="logo de correo" class="logos"></a>
                </div>
            </nav>
            <div class="contenedor-titulo-header">
                <h1 class="titulo-principal">Educación<br> & adiestramiento</h1>
                <a href="./contacto.html" class="boton-principal-header">¡¡Contacta con nosotros!!</a>
            </div>    
        </div>  
    </header>
    <main>
        <section class="section2-galeria">
            <h3 class="titulo-encabezado-h3-productos">Los perros nos dan la oportunidad de vincularnos con ellos, <br>y disfrutar de una relación con una especie diferente a la nuestra.</h3>
            <p class="titulo-fondo-azul-productos">MEJORA TU RELACIÓN CON TU PERRO</p>
            <img src="./../assets/imagenes/deperros-01-min-1.png" alt="logo de perro" class="logo-perro-grande">
        </section>
        <div class="titulo-galeria-fotos">
            <h2 class="titulo-galeria">Algunos de nuestros clientes habituales :</h2>
        </div>
        <section class="section3-productos">
            <img src="./../assets/imagenes/2.-juego.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/EAD200616_DSC1045-min-min-min.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/EAD211207_DSC0510-min-min-min.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/perro-negro.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/EAD200627_DSC0033-copia-min-min-min.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/bordeaux-869032_1280.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/EAD220822_DSC0372-min-min.jpg" alt="" class="galeria-foto">
            <img src="./../assets/imagenes/bordeaux-869000_1280.jpg" alt="" class="galeria-foto">
        </section>
    </main>
    <footer class="footer-inicio">
        <img src="./../assets/imagenes/logo_completo_blanco.png" alt="logo completo" class="logo-footer-medidas">
        <div class="redes-footer">
            <a href="https://www.facebook.com/deperrosadiestramiento" target="_blank"><img src="./../assets/imagenes/icons8-facebook-nuevo-50.png" alt="logo de facebook" class="logos-footer"></a>
            <a href="https://www.instagram.com/elsa_apolo/" target="_blank"><img src="./../assets/imagenes/icons8-instagram-50.png" alt="logo de instagram" class="logos-footer"></a>
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="./../assets/imagenes/icons8-correo-50.png" alt="logo de correo" class="logos-footer"></a>
        </div>
        <p class="copy-footer">&copy; 2024 Tu Nombre. Todos los derechos reservados.</p>
        <p class="parrafo-direccion-footer">Direccion: La garriga - Barcelona  Teléfono: 999222888 </p>
    </footer>
</body>
</html>